.tooltipTheme {
  color: white !important;
  background-color: var(--color-background1) !important;
  border: solid 2px var(--color-grey-light) !important;
  border-radius: 6px !important;
}
.tooltipTheme.place-top:after {
  border-top-color: var(--color-background1) !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: rgb(255, 255, 255);
  padding: 2px;
  width: 100%;
}

.iconContainer {
  background: transparent;
  display: flex;
}

.labelBackend {
  display: flex;
  align-content: center;
  align-items: center;
}
.iconBackend {
  fill: rgb(242, 242, 242);
  height: 24px;
  width: 24px;
  margin: 2px;
}

.iconBackend > path {
  fill: lightgrey;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

.firebase,
.heroku,
.nobackend {
  margin: 0;
}

/* div[class^="title"] { 
}  */
/* [attribute~="value"]    styles_firebase__9kwb0*/
/*---------- firebase -----------*/
input[class*="firebase"]:hover + svg > path[class="dbPath"],
input[class*="firebase"]:checked + svg > path[class="dbPath"],
input[class*="firebase"]:focus + svg > path[class="dbPath"] {
  fill: var(--color-background1);
}

input[class*="firebase"]:hover + svg path[class="firebasePath1"],
input[class*="firebase"]:checked + svg path[class="firebasePath1"],
input[class*="firebase"]:focus + svg path[class="firebasePath1"] {
  fill: #ffa000;
}
input[class*="firebase"]:hover + svg path[class="firebasePath2"],
input[class*="firebase"]:checked + svg path[class="firebasePath2"],
input[class*="firebase"]:focus + svg path[class="firebasePath2"] {
  fill: #f57f17;
}
input[class*="firebase"]:hover + svg path[class="firebasePath3"],
input[class*="firebase"]:checked + svg path[class="firebasePath3"],
input[class*="firebase"]:focus + svg path[class="firebasePath3"] {
  fill: #ffca28;
}
input[class*="firebase"]:hover + svg path[class="firebasePath4"],
input[class*="firebase"]:checked + svg path[class="firebasePath4"],
input[class*="firebase"]:focus + svg path[class="firebasePath4"] {
  fill: #ffa000;
}

/*---------- heroku -----------*/
input[class*="heroku"]:hover + svg > path[class*="dbPath1"],
input[class*="heroku"]:checked + svg > path[class*="dbPath1"],
input[class*="heroku"]:focus + svg > path[class*="dbPath1"] {
  fill: var(--color-background1);
}

input[class*="heroku"] + svg path[class="herokuPath1"] {
  fill: #fff;
}

input[class*="heroku"] + svg path[class="herokuPath2"] {
  fill: lightgrey;
}

input[class*="heroku"]:hover + svg path[class="herokuPath1"],
input[class*="heroku"]:checked + svg path[class="herokuPath1"],
input[class*="heroku"]:focus + svg path[class="herokuPath1"] {
  fill: #6762a6;
}

input[class*="heroku"]:hover + svg path[class="herokuPath2"],
input[class*="heroku"]:checked + svg path[class="herokuPath2"],
input[class*="heroku"]:focus + svg path[class="herokuPath2"] {
  fill: #fff;
}

/*---------- nobackend -----------*/
input[class*="nobackend"]:hover + svg > path[class="noDbPath1"],
input[class*="nobackend"]:checked + svg > path[class="noDbPath1"],
input[class*="nobackend"]:focus + svg > path[class="noDbPath1"] {
  fill: var(--color-background1);
}
input[class*="nobackend"]:hover + svg > path[class="noDbPath2"],
input[class*="nobackend"]:checked + svg > path[class="noDbPath2"],
input[class*="nobackend"]:focus + svg > path[class="noDbPath2"] {
  fill: red;
}
input[class*="nobackend"]:hover + svg > path[class="noDbPath3"],
input[class*="nobackend"]:checked + svg > path[class="noDbPath3"],
input[class*="nobackend"]:focus + svg > path[class="noDbPath3"] {
  fill: red;
}

/* input[class*="nobackend"]:hover + svg,
input[class*="nobackend"]:checked + svg,
input[class*="nobackend"]:focus + svg {
  fill: #e8d600;
} */
