@import url("https://fonts.googleapis.com/css?family=Roboto");
/* a:link,
a:visited,
a:hover,
a:active {
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}

span {
  color: rgba(0, 0, 16, 0.4);
  font-size: 70%;
} */

.tooltipTheme {
  color: white !important;
  background-color: var(--color-background1) !important;
  border: solid 2px var(--color-grey-light) !important;
  border-radius: 6px !important;
}
.tooltipTheme.place-top:after {
  border-top-color: var(--color-background1) !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: auto; */
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: rgb(255, 255, 255);
  /* padding: 0.8rem; */
  /* width: 33rem; */
  padding: 2px;
  width: 100%;
}

/* .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;  
  justify-content: flex-start;  
  padding: 2px 4px;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: row; 
} */

/* .rating-text p {
  color: rgba(0, 0, 16, 0.8);
  font-size: 14px;
} */

.iconContainer {
  background: transparent;
  display: flex;
}

.labelBackend {
  display: flex;
  align-content: center;
  align-items: center;
}
.iconBackend {
  fill: rgb(242, 242, 242);
  height: 24px;
  width: 24px;
  margin: 2px;
}

.iconBackend > path {
  fill: lightgrey;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

/*---------- firebase -----------*/
input[class="firebase"]:hover + svg > .dbPath,
input[class="firebase"]:checked + svg > .dbPath,
input[class="firebase"]:focus + svg > .dbPath {
  fill: var(--color-background1);
}

input[class="firebase"]:hover + svg .firebase-path1,
input[class="firebase"]:checked + svg .firebase-path1,
input[class="firebase"]:focus + svg .firebase-path1 {
  fill: #ffa000;
}
input[class="firebase"]:hover + svg .firebase-path2,
input[class="firebase"]:checked + svg .firebase-path2,
input[class="firebase"]:focus + svg .firebase-path2 {
  fill: #f57f17;
}
input[class="firebase"]:hover + svg .firebase-path3,
input[class="firebase"]:checked + svg .firebase-path3,
input[class="firebase"]:focus + svg .firebase-path3 {
  fill: #ffca28;
}
input[class="firebase"]:hover + svg .firebase-path4,
input[class="firebase"]:checked + svg .firebase-path4,
input[class="firebase"]:focus + svg .firebase-path4 {
  fill: #ffa000;
}

/*---------- heroku -----------*/
input[class="heroku"]:hover + svg > .dbPath1,
input[class="heroku"]:checked + svg > .dbPath1,
input[class="heroku"]:focus + svg > .dbPath1 {
  fill: var(--color-background1);
}

input[class="heroku"] + svg .hpath1 {
  fill: #fff;
}

input[class="heroku"] + svg .hpath2 {
  fill: lightgrey;
}

input[class="heroku"]:hover + svg .hpath1,
input[class="heroku"]:checked + svg .hpath1,
input[class="heroku"]:focus + svg .hpath1 {
  fill: #6762a6;
}

input[class="heroku"]:hover + svg .hpath2,
input[class="heroku"]:checked + svg .hpath2,
input[class="heroku"]:focus + svg .hpath2 {
  fill: #fff;
}

input[class="nobackend"]:hover + svg > .npath1,
input[class="nobackend"]:checked + svg > .npath1,
input[class="nobackend"]:focus + svg > .npath1 {
  fill: var(--color-background1);
}
input[class="nobackend"]:hover + svg > .npath2,
input[class="nobackend"]:checked + svg > .npath2,
input[class="nobackend"]:focus + svg > .npath2 {
  fill: red;
}
input[class="nobackend"]:hover + svg > .npath3,
input[class="nobackend"]:checked + svg > .npath3,
input[class="nobackend"]:focus + svg > .npath3 {
  fill: red;
}

input[class="nobackend"]:hover + svg,
input[class="nobackend"]:checked + svg,
input[class="nobackend"]:focus + svg {
  fill: #e8d600;
}

/* 
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
	width: 34.6rem;
	margin: auto;
}

footer p {
	font-size: 1.3em;
} */

@media screen and (max-width: 650px) and (max-height: 700px) {
  body,
  html {
    font-size: 0.7rem;
  }
  header h1 {
    font-size: 4em;
  }
  footer p {
    font-size: 2em;
  }
}

@media screen and (max-height: 700px) {
  body,
  html {
    font-size: 0.7rem;
  }
  header h1 {
    font-size: 4em;
  }
  footer p {
    font-size: 2em;
  }
}

@media screen and (max-width: 650px) {
  body,
  html {
    font-size: 0.7rem;
  }
  header h1 {
    font-size: 4em;
  }
  footer p {
    font-size: 2em;
  }
}

@media screen and (max-width: 450px) and (max-height: 550px) {
  body,
  html {
    font-size: 0.6rem;
  }
  header h1 {
    font-size: 4.6em;
  }
  footer p {
    font-size: 3em;
  }
}

@media screen and (max-height: 550px) {
  body,
  html {
    font-size: 0.6rem;
  }
  header h1 {
    font-size: 4.6em;
  }
  footer p {
    font-size: 3em;
  }
}

@media screen and (max-width: 450px) {
  body,
  html {
    font-size: 0.6rem;
  }
  header h1 {
    font-size: 4.6em;
  }
  footer p {
    font-size: 3em;
  }
}

@media screen and (max-width: 400px) and (max-height: 500px) {
  body,
  html {
    height: 500px;
    width: 400px;
  }
}

@media screen and (max-height: 500px) {
  body,
  html {
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  body,
  html {
    width: 400px;
  }
}
